@{
}

@model Crash



<div class="container bg-white rounded py-4 shadow">
    <div class="mx-5">
        <h1 class="mb-4">Crash Info</h1>
        <form class="mx-3 my-2" method="post" asp-controller="Admin">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for=@Model.CRASH_ID />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.CRASH_DATETIME>Date:</label>
                        <input asp-for=@Model.CRASH_DATETIME class="form-control" required />
                        <span asp-validation-for=@Model.CRASH_DATETIME class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.CRASH_SEVERITY_ID>Severity:</label>
                        <select asp-for=@Model.CRASH_SEVERITY_ID class="form-control">
                            @foreach (var severity in ViewBag.Severities)
                            {
                                <option value="@severity.CRASH_SEVERITY_ID">@severity.CRASH_SEVERITY_ID - @severity.DESCRIPTION</option>
                            }
                        </select>
                        <span asp-validation-for=@Model.CRASH_SEVERITY_ID class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.LAT_UTM_Y>Latitude UTM:</label>
                        <input asp-for=@Model.LAT_UTM_Y class="form-control" type="number" />
                        <span asp-validation-for=@Model.LAT_UTM_Y class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.LONG_UTM_X>Longitude UTM:</label>
                        <input asp-for=@Model.LONG_UTM_X class="form-control" type="number" />
                        <span asp-validation-for=@Model.LONG_UTM_X class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.CITY>City:</label>
                        <input asp-for=@Model.CITY class="form-control" style="text-transform: uppercase;" required id="city" onblur="upperCaseIt(this.id)" />
                        <span asp-validation-for=@Model.CITY class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.COUNTY_NAME>County:</label>
                        <input asp-for=@Model.COUNTY_NAME class="form-control" style="text-transform: uppercase;" id="county" required />
                        <span asp-validation-for=@Model.COUNTY_NAME class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.MAIN_ROAD_NAME>Nearest Main Road:</label>
                        <input asp-for=@Model.MAIN_ROAD_NAME class="form-control" style="text-transform: uppercase;" id="mainRoad" required />
                        <span asp-validation-for=@Model.MAIN_ROAD_NAME class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.ROUTE>Route:</label>
                        <input asp-for=@Model.ROUTE class="form-control" style="text-transform: uppercase;" id="route" />
                        <span asp-validation-for=@Model.ROUTE class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for=@Model.MILEPOINT>Milepoint:</label>
                        <input asp-for=@Model.MILEPOINT class="form-control" type="number" />
                        <span asp-validation-for=@Model.MILEPOINT class="text-danger"></span>
                    </div>
                </div>
            </div>



            @*Crash Flags*@
            <hr />
            <h4 class="mb-4">Crash Flags</h4>
            <div class="row my-2">
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.WORK_ZONE_RELATED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.WORK_ZONE_RELATED>Work Zone Related</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.PEDESTRIAN_INVOLVED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.PEDESTRIAN_INVOLVED>Pedestrian Involved</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.BICYCLIST_INVOLVED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.BICYCLIST_INVOLVED>Bicyclist Involved</label>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.MOTORCYCLE_INVOLVED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.MOTORCYCLE_INVOLVED>Motorcycle Involved</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.IMPROPER_RESTRAINT" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.IMPROPER_RESTRAINT>Improper Restraint</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.UNRESTRAINED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.UNRESTRAINED>Unrestrained</label>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.DUI" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.DUI>Driving Under the Influence</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.INTERSECTION_RELATED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.INTERSECTION_RELATED>Intersection Related</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.WILD_ANIMAL_RELATED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.WILD_ANIMAL_RELATED>Wild Animal Related</label>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.DOMESTIC_ANIMAL_RELATED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.DOMESTIC_ANIMAL_RELATED>Domestic Animal Related</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.OVERTURN_ROLLOVER" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.OVERTURN_ROLLOVER>Overturn/Rollover</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.COMMERCIAL_MOTOR_VEH_INVOLVED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.COMMERCIAL_MOTOR_VEH_INVOLVED>Commercial Vehical Involved</label>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.TEENAGE_DRIVER_INVOLVED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.TEENAGE_DRIVER_INVOLVED>Teenage Driver Involved</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.OLDER_DRIVER_INVOLVED" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.OLDER_DRIVER_INVOLVED>Senior Driver Involved</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.NIGHT_DARK_CONDITION" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.NIGHT_DARK_CONDITION>Dark/Night Conditions</label>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.SINGLE_VEHICLE" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.SINGLE_VEHICLE>Single Vehicle Accident</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.DISTRACTED_DRIVING" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.DISTRACTED_DRIVING>Distracted Driving</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.DROWSY_DRIVING" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.DROWSY_DRIVING>Drowsy Driving</label>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div class="form-group form-switch">
                        <input asp-for="@Model.ROADWAY_DEPARTURE" type="checkbox" class="form-check-input">
                        <label asp-for=@Model.ROADWAY_DEPARTURE>Roadway Departure</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-2 offset-10">
                        <button class="btn btn-primary float-right form-control" type="submit">Save Crash</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>