@model Crash

@{
    ViewData["Title"] = "Crash Details";
}

<div class="container bg-white rounded py-3 px-5 shadow">
    <div class="row my-3">
        <div class="col-10">
            <h1>@Model.MAIN_ROAD_NAME</h1>
            <h4>@Model.CRASH_DATETIME</h4>
        </div>
        <div class="col-2">
            <partial name="~/Views/Shared/_AdminPartial.cshtml" />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div id="StreetView"></div>
        </div>

        <div class="card col-4">
            <div class="card-header bg-white">
                <div class="row">
                    <div class="col">
                        <h2>Severity: </h2>
                        @foreach (var bag in ViewBag.Severities)
                        {
                            @if (bag.CRASH_SEVERITY_ID == Model.CRASH_SEVERITY_ID)
                            {
                                <h6>@bag.DESCRIPTION</h6>
                            }
                        }
                    </div>
                    <div class="col-3">
                        <span class="box border border-dark" style="background-color:@ViewBag.Color">@Model.CRASH_SEVERITY_ID</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>@Model.CITY, @Model.COUNTY_NAME</h5>
                <h6>(@Model.LAT_UTM_Y, @Model.LONG_UTM_X)</h6>

                @if (Model.ROUTE != null & Model.MILEPOINT != null)
                {
                    <h6>Mile @Model.MILEPOINT on Route @Model.ROUTE</h6>
                }
                else if (Model.ROUTE == null & Model.MILEPOINT != null)
                {
                    <h6>Mile @Model.MILEPOINT on Unknown Route</h6>
                }
                else if (Model.ROUTE != null & Model.MILEPOINT == null)
                {
                    <h6>Unknown Milepoint on Route @Model.ROUTE</h6>
                }
                else
                {
                    <h6>Milepoint and Route info are Unknown</h6>
                }
                <hr />

                @* Crash Flags *@
                <div>
                    <ul>
                        @if (Model.DISTRACTED_DRIVING)
                        {
                            <li>
                                <h6>Distracted Driving</h6>
                            </li>
                        }

                        @if (Model.DROWSY_DRIVING)
                        {
                            <li>
                                <h6>Drowsy Driving</h6>
                            </li>
                        }

                        @if (Model.DUI)
                        {
                            <li>
                                <h6>Driving Under the Influence</h6>
                            </li>
                        }

                        @if (Model.IMPROPER_RESTRAINT)
                        {
                            <li>
                                <h6>Improper Restraint</h6>
                            </li>
                        }

                        @if (Model.UNRESTRAINED)
                        {
                            <li>
                                <h6>Unrestrained</h6>
                            </li>
                        }

                        @if (Model.SINGLE_VEHICLE)
                        {
                            <li>
                                <h6>Single Vehicle</h6>
                            </li>
                        }

                        @if (Model.ROADWAY_DEPARTURE)
                        {
                            <li>
                                <h6>Roadway Departure</h6>
                            </li>
                        }

                        @if (Model.OVERTURN_ROLLOVER)
                        {
                            <li>
                                <h6>Overturn/Rollover</h6>
                            </li>
                        }

                        @if (Model.COMMERCIAL_MOTOR_VEH_INVOLVED)
                        {
                            <li>
                                <h6>Commercial Vehical Involved</h6>
                            </li>
                        }

                        @if (Model.DOMESTIC_ANIMAL_RELATED)
                        {
                            <li>
                                <h6>Domestic Animal Related</h6>
                            </li>
                        }

                        @if (Model.INTERSECTION_RELATED)
                        {
                            <li>
                                <h6>Intersection Related</h6>
                            </li>
                        }

                        @if (Model.MOTORCYCLE_INVOLVED)
                        {
                            <li>
                                <h6>Motorcycle Involved</h6>
                            </li>
                        }

                        @if (Model.NIGHT_DARK_CONDITION)
                        {
                            <li>
                                <h6>Night/Dark Condition</h6>
                            </li>
                        }

                        @if (Model.OLDER_DRIVER_INVOLVED)
                        {
                            <li>
                                <h6>Senior Driver Involved</h6>
                            </li>
                        }

                        @if (Model.TEENAGE_DRIVER_INVOLVED)
                        {
                            <li>
                                <h6>Teenage Driver Involved</h6>
                            </li>
                        }

                        @if (Model.WILD_ANIMAL_RELATED)
                        {
                            <li>
                                <h6>Wild Animal Related</h6>
                            </li>
                        }

                        @if (Model.WORK_ZONE_RELATED)
                        {
                            <li>
                                <h6>Work Zone Related</h6>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script>
    let lat;
    let long;
    let addr;

    axios.post('https://7o1vcvfox2.execute-api.us-east-1.amazonaws.com/default/utmToLatLong', {
        "body": "{\"utmX\": @Model.LONG_UTM_X,\"utmY\": @Model.LAT_UTM_Y}"
    }).then(res => {
        let data = JSON.parse(res.data);
        lat = data.lat;
        long = data.lon;
        console.log("Lat: " + lat);
        console.log("Long: " + long);
        console.log("sanity check");

        let moreUrl = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + long + '&key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A';

        axios(moreUrl)
            .then(function (response) {

                console.log("Lat: " + lat);
                console.log("Long: " + long);
                console.log("sanity check 2");
                //let data = JSON.parse(response.data);
                console.log("data",response.data.results[0].formatted_address);
                addr = response.data.results[0].formatted_address.replaceAll(", ",",").replaceAll(" ","+");
                console.log(addr);
                //let coords = parseFloat(lat).toFixed(5).toString() + "," + parseFloat(long).toFixed(5).toString();
                let coords = lat + "," + long;
                console.log("coords:",coords)

                let newURL = "https://www.google.com/maps/embed/v1/streetview" +
                    "?key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A" +
                    "&location=" + coords+
                    "&heading=210" +
                    "&pitch=10" +
                    "&fov=90";

                let placeURL = "https://www.google.com/maps/embed/v1/place" +
                    "?key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A" +
                    "&q=" + addr +
                    "&center=" + coords
                    "&zoom=16";
                //const img_url = "https://maps.googleapis.com/maps/api/streetview?size=600x300&location=" + lat + "," + long + "&heading=151.78&pitch=-0.76&key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A";

                let myScript= document.createElement("iframe");
                myScript.setAttribute("src", newURL);
                myScript.setAttribute("width", "100%");
                myScript.setAttribute("height", "500");
                myScript.setAttribute("style", "border:0;");
                myScript.setAttribute("frameborder", "0");
                myScript.setAttribute("allowfullscreen", "");
                myScript.setAttribute("loading", "lazy");
                myScript.setAttribute("referrerpolicy", "no-referrer-when-downgrade");
                document.getElementById("StreetView").appendChild(myScript);

                let placeView = document.createElement("iframe");
                placeView.setAttribute("src", placeURL);
                placeView.setAttribute("width", "100%");
                placeView.setAttribute("height", "700");
                placeView.setAttribute("style", "border:0;");
                placeView.setAttribute("frameborder", "0");
                placeView.setAttribute("allowfullscreen", "");
                placeView.setAttribute("loading", "lazy");
                placeView.setAttribute("referrerpolicy", "no-referrer-when-downgrade");
                document.body.appendChild(placeView);

                //lat = data.snappedPoints[0].location.latitude;
                //long = data.snappedPoints[0].location.longitude;
            })
    })

    //var config = {
    //    method: 'get',
    //    url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + long + '&key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A',
    //        //'https://roads.googleapis.com/v1/nearestRoads?points=' + lat + '%2C' + long + '&key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A',
    //    headers: {}
    //};
    //let moreUrl = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + long + '&key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A';

    //axios(moreUrl)
    //    .then(function (response) {
    //        console.log("sanity check 3");
    //        let data = JSON.parse(response.data);
    //        console.log(data);
    //        lat = data.snappedPoints[0].location.latitude;
    //        long = data.snappedPoints[0].location.longitude;


    //    })
    //    .catch(function (error) {
    //        console.log(error);
    //    });

    //let imgTag = document.createElement("img");
    //const img_url = "https://maps.googleapis.com/maps/api/streetview?size=600x300&location=" + lat + "," + long + "&heading=151.78&pitch=-0.76&key=AIzaSyDbMfrJkOsAaEwi7fHIYoq8vTRhdvpDE3A";
    //imgTag.setAttribute("src", img_url);
    //document.body.appendChild(imgTag);
</script>